<div class="container-finish-view">
<div class="header">
  <h1>Félicitations ! &#128540; </h1>
</div>
<div class="subheader">
<h2>Ton deck contient <strong class="cal-deck"><%=@calories%></strong> calories, sur un objectf de <strong class="cal-obj"><%=@game.calories%></strong></h2>
</div>
  <div class="card-container">
    <% @game.cards.each do |card| %>
      <%= render  "cards/card", card: card%>
    <% end %>
  </div>

<div class="recipe-container">
<h3>On te propose les recettes suivantes:</h3>
 <% recipes = @results.first(3)%>
  <% recipes.each do |recipe| %>
    <%= "#{recipe} / "%>
  <% end %>
</div>
<div class="button-hp">
    <h2 class="button-hp-text"><%= link_to "Recommencer", new_game_path %></h2>
  </div>

</div>
