<% result = @calories - @game.calories %>
  <% if (-100..100).include? result %>
  <canvas id="canvas"></canvas>
  <% else %>
  <html style='filter: grayscale(70%)'></html>
  <% end %>
<div class="finish-body">
  <div class="result-container">
    <div class="message-container">
      <% @score = if @calories < @game.calories %>
        <% 100 - ((((@game.calories - @calories).to_f/@game.calories).to_f.abs)*100).to_i%>
      <%else%>
        <% 100 + ((((@game.calories - @calories).to_f/@game.calories).to_f.abs)*100).to_i%>
      <%end%>
      <% if (80..120).include? @score %>
        <h3 class="light"> Ton jeu contient <strong class="win"><%=@calories%></strong> calories sur un objectf de <strong class="cal-obj"><%=@game.calories%></strong> soit un score de <strong class="win"><%=@score%></strong></h3>
        <h1>Félicitations ! &#128540;</h1>
      <% else %>
        <h3 class="light"> Ton jeu contient <strong class="fail"><%=@calories%></strong> calories sur un objectf de <strong class="cal-obj"><%=@game.calories%></strong> soit un score de <strong class="fail"><%=@score%></strong></h3>
        <h1>Bof bof... &#128556;</h1>
      <%end%>
      <div>
        <%= link_to "Recommencer", root_path, class: 'btn-finish txt-deco' %>
      </div>
        <div class="d-flex flex-row justify-content-start social">
         <div><a href="http://www.facebook.com/sharer.php?s=100" class="txt-deco" onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"> <i class="fab fa-facebook"></i></a></div>
         <div><a href="https://twitter.com/intent/tweet?text=Viens me rejoindre sur B a Chef !" class="txt-deco" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"><i class="fab fa-twitter"></i></a></div>
         <div><a href="http://pinterest.com/pin/create/bookmarklet/" class="txt-deco" onclick="window.open(this.href, 'pinterestwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"><i class="fab fa-pinterest"></i></i></a></div>
        </div>
    </div>

    <div class="result-deck">
      <div>
        <h3 class="light">Ta sélection : </h3>
        <p style="font-size: 12px;">Le nombre de calories est calculé sur une base de 100 grammes de chaque ingrédient. </p>
        <div class="card-result">
          <% @game.cards.each do |card|%>
            <%= render "cards/cardfinish", card: card%>
          <%end%>
        </div>
      </div>
        <div class="form-container mt-4 mb-4" data-controller="edit-game">
          <div>
            <h3 class="light">Enregistre ta partie <span>   <i class="far fa-save pen-cursor" data-action="click->edit-game#displayForm" ></i></span></h3>
          </div>
          <div class="save-form" id="game_save">
            <%= form_for @game, url: saved_game_path(@game), :html => {:class => " d-none", id: "save_game", data: { edit_game_target: 'form'}} do |f| %>
              <div class="form-group">
                <%= f.label :title, "Titre:", class: "control-label mb-1" %>
                <div>
                  <%= f.text_field :recipe_title, class: "form-control mb-1" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :content, "Description:", class: "control-label mb-1" %>
                <div>
                  <%= f.text_field :recipe_content, class: "form-control mb-1" %>
                </div>
              </div>
                <a class="btn-save txt-deco mb-2" id="submit-finish">Enregistrer</a>
            <% end %>
          </div>
          <div class="mt-4">
            <h3 class="light">Choisis vite une recette<span>   <i class="fas fa-chevron-down pen-cursor"></i></span></h3>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="recipe-container">
      <% @recipes.first(3).each do |recipe|%>
        <%= render "recipe/recipe_card", recipe: recipe%>
      <%end%>
    </div>
  </div>