<div class="finish-body">
  <div class="container finish-container">
    <div class="result-body">
      <div class="result-header"></div>
      <% result = @calories - @game.calories %>
      <% if (-100..100).include? result %>
        <h1>Félicitations ! &#128540;</h1>
      <% else %>
        <h1>Peux mieux faire... &#128556;</h1>
      <%end%>
      <div class="result-message">
        <% if (-100..100).include? result %>
          <h5> Ton deck contient <strong class="win"><%=@calories%></strong> calories, sur un objectf de <strong class="cal-obj"><%=@game.calories%></strong> </h5>
        <% else %>
          <h5> Ton deck contient <strong class="fail"><%=@calories%></strong> calories, sur un objectf de <strong class="cal-obj"><%=@game.calories%></strong> </h5>
        <%end%>
      </div>
    </div>
    <div class="save-form form-group">
      <%= form_for @game, url: saved_game_path(@game) do |f| %>
          <%= f.text_field(:recipe_title, {:include_blank => "Titre"})%> <br>
          <%= f.text_area(:recipe_content, {:include_blank => "Description"})%> <br>
          <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="recipe-container">
    <% @recipes.first(3).each do |recipe|%>
    <%= render "recipe/recipe_card", recipe: recipe%>
  <%end%>
  </div>
</div>