<div class="container">
<div class="header">
  <h1>Félicitations ! &#128540; </h1>
</div>
<div class="subheader">
<h2>Ton deck contient <strong class="cal-deck"><%=@calories%></strong> calories, sur un objectf de <strong class="cal-obj"><%=@game.calories%></strong></h2>
</div>
  <div class="recipe-container">
    <% @recipes.first(3).each do |recipe|%>
    <%= render "recipe/recipe_card", recipe: recipe%>
  <%end%>
  </div>
<div class="button-hp">
    <h2 class="button-hp-text"><%= link_to "Recommencer", new_game_path %></h2>
  </div>
<div class="button-hp">
    <h2 class="button-hp-text"><%= link_to "Sauvegarde Projet", saved_game_path %></h2>
  </div>

</div>
