<div class="dashboard-body">
  <h2 class="card-title-shop mt-4">Mon dashboard</h2>
  <div class="container-show-order mt-4">
    <div class="game-container">
      <% @games.each do |game| %>
        <div class="container-dashboard"> 
          <div class="game-row">
            <div>
              <h2 class="title-dashboard">
                <%= game.recipe_title %>&nbsp; &nbsp; <%= link_to game_path(game), method: :delete, data: { confirm: "Tu es sûr de toi ?" } do %>
                  <i class="bin far fa-trash-alt"></i>
                <%end%>
              </h2>
                <p class="p-dashboard"><%= game.recipe_content %></p>
                <p class="p-dashboard"><%= game.objective %> / <span id="obj-dashboard">Objectif : <%= game.calories %> calories</span></p>
                <span class="dashboard-style">Mon résultat : <%= game.score %> calories <% if (-100..100).include? game.score - game.calories %>😁 <% else %> 😢<%end%></span>
                <% @score = 100 - ((((game.calories - game.score).to_f/game.calories).to_f.abs)*100).to_i %>
                <p class="p-dashboard">Score : <%= @score %></p>
            </div>
            <div class="card-result">
                <% game.cards.each do |card| %>
                  <%= render "cards/card", card: card %>
                <% end %>
            </div>
          </div>
          <div data-controller="display-recipes">
            <p class="p-dashboard mt-3">Les recettes <span><i class="fas fa-chevron-down pen-cursor" data-action="click->display-recipes#displayRecipes"></i></span></p>
            <div class="recipe-container d-none" data-display-recipes-target="recipes">
              <% game.recipes.first(3).each do |recipe|%>
                <%= render "recipe/recipe_card", recipe: recipe%>
              <%end%>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
