<div id="container-show">
  <br>
  <h1 class="show-title" style="text-align: center">À toi de jouer !</h1>
  <h4 class="show-title mb-4" style="text-align: center">Tu peux <em>drag & drop</em> les ingrédients pour les ajouter à ton repas.</h4>
  <div class="mt-4 container">
    <div class="row">
      <div class="cards">
      <% if @game.objective != "Gras"%>
        <div class="one">
            <h6 class="card-green-1">Fruits & Légumes</h6>
            <div class="btn-sticky-2 cards_column color-border">
            <div class="cards-pad droppable" id="veggies">
              <% @cards.select {|card| card.category == "Fruits & Légumes"}.each do |card| %>
                <div class="draggable" draggable="true" id="card-<%=card.id%>" data-category="card-veggies" data-id="<%=card.id%>"><%= render "cards/card", card: card%></div>
              <% end %>
            </div>
          </div>
          </div>
      <% end %>
        <% unless ['Végétarien', 'Vegan'].include?(@game.objective) %>
        <div class="two">
            <h6 class="card-blue-1">Viandes & Fruits de mer</h6>
            <div class="btn-sticky-2 cards_column color-border-1">
            <div class="cards-pad droppable" id="viandes">
              <% @cards.select {|card| card.category == "Viande & Fruits de mer"}.each do |card| %>
                <div class="draggable" draggable="true" id="card-<%=card.id%>" data-category="card-viandes" data-id="<%=card.id%>"><%= render "cards/card", card: card%></div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="three">
            <h6 class="card-orange-1">Accompagnements</h6>
            <div class="btn-sticky-2 cards_column color-border-2">
            <div class="cards-pad droppable" id="sides">
              <% @cards.select {|card| card.category == "Accompagnement"}.each do |card| %>
                <div class="draggable" draggable="true" id="card-<%=card.id%>" data-category="card-sides" data-id="<%=card.id%>"><%= render "cards/card", card: card%></div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="four">
            <h6 class="card-red-1">Desserts</h6>
            <div class="btn-sticky-2 cards_column color-border-3">
            <div class="cards-pad droppable" id="desserts">
              <% @cards.select {|card| card.category == "Dessert"}.each do |card| %>
                <div class="draggable" draggable="true" id="card-<%=card.id%>" data-category="card-desserts" data-id="<%=card.id%>"><%= render "cards/card", card: card%></div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="five">
          <div>
            <%= image_tag "panier.gif", class: "image_tag_3"%>
          </div>
          <div class="btn-sticky">
            <h6 class="card-panier-1">Mon panier</h6>
            <div class="card_checklist justify-content-center droppable color-border-4"></div>
              <%= simple_form_for @game, url: finish_game_path, method: :post do |f| %>
                <%= f.input :cards, as: :hidden %>
                <%= f.button :submit, "J'ai fini !", class: 'button-hp button-hp-text'%>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
