<div class="container" id="game_checkbox">
  <h3><%= "Tu as sélectionné le profil #{@game.objective}, et ton objectif est de #{@game.calories} calories"%></h3>
  <h6>Mes cartes:</h6>
  <div class="container">
    <div class="row">
      <div class="cards">
        <div class="one">
          <h6>Fruits & Légumes</h6>
          <i class="fas fa-arrow-circle-up" style="font-size: 50px; color: blue"></i>
          <br>
          <% @cards.select {|card| card.category == "Fruits & Légumes"}.each do |card| %>
            <br>
            <%= render "cards/card", card: card%>
          <% end %>
          <br>
          <i class="fas fa-arrow-circle-down" style="font-size: 50px; color: blue"></i>
          <br>
        </div>
        <div class="two">
          <h6>Viandes</h6>
          <i class="fas fa-arrow-circle-up" style="font-size: 50px; color: blue"></i>
          <br>
          <% @cards.select {|card| card.category == "Viande"}.each do |card| %>
            <br>
            <%= render  "cards/card", card: card%>
          <% end %>
          <i class="fas fa-arrow-circle-down" style="font-size: 50px; color: blue"></i>
        </div>
        <div class="three">
          <h6>Accompagnement</h6>
          <i class="fas fa-arrow-circle-up" style="font-size: 50px; color: blue"></i>
          <br>
          <% @cards.select {|card| card.category == "Accompagnement"}.each do |card| %>
            <br>
            <%= render  "cards/card", card: card%>
          <% end %>
          <br>
          <i class="fas fa-arrow-circle-down" style="font-size: 50px; color: blue"></i>
          <br>
        </div>
        <div class="four">
          <h6>Dessert</h6>
          <i class="fas fa-arrow-circle-up" style="font-size: 50px; color: blue"></i>
          <br>
          <% @cards.select {|card| card.category == "Dessert"}.each do |card| %>
            <br>
          <%= render  "cards/card", card: card%>
          <% end %>
          <br>
          <i class="fas fa-arrow-circle-down" style="font-size: 50px; color: blue"></i>
          <br>
        </div>

        <%# //////////////////////////////////////////////////////////////////////////////// %>

        <div class="five">
          <br>
          <h3>dashboard</h3>
          <br>

          <div class="card_checklist">
            <div class="card-1_description">
              <div class="title_dashboard"><h4>Mon panier</h4></div>
              <div class="title"><h4></h4></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
    <div class="list-group">
    <%= simple_form_for @game do |f| %>
      <div class="d-none"><%= f.association :cards, collection: @cards, as: :check_boxes %></div>
      <div class="btn-bachef"><%= f.submit "Submit" %></div>
    <% end %>
  </div>
</div>
