
<div class="container">
  <h1>cards</h1>
  
  <div class="row">
    <% @cards.each do |card| %>
    <%if card.premium == true %>
      <div class="col-6 col-md-4">
        <div class="card">
          <div class="card-body">
          <%= render  "cards/card", card: card%>
            <h5 class="card-title"><%= card.title %></h5>
            <p class="card-text"><%= card.category %></p>
            <p>Amount: <%= humanized_money_with_symbol(card.price) %></p>
            <%= form_tag orders_path do %>
            <%= hidden_field_tag 'card_id', card.id %>
            
            <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <%end%>
    <% end %>
  </div>
</div>